
#login-page {
  height: 600px;

  margin: 20px;
}


#login-page h3 {
  text-align: center;
}

.login-table {
  width: 100%;

  text-align: center;
  border-collapse: separate;
  border-spacing: 10px 30px;
}

.login-table input, .login-table select {
  width: 80%;
  height: 28px;
}

.login-block {
  width: 49.5%;
  height: 90%;

  display:inline-block;
  vertical-align:top;

  margin-top: 100px;
}

.login-bar {
  width: 1%;
  height: 90%;

  display:inline-block;
  vertical-align:top;

  margin-top: 20px;

  background-color: black;

  border-radius: 80% / 80%;
}
