
body
{
  background-color: red;

  font-family: Verdana;
  font-size: 14px;

  margin: 0;
}

#site
{
    background-color: #dddddd;

    width: 90%;
    min-height: 900px;

    margin-left: 5%;
    margin-bottom: 5%;
    overflow: hidden;
}

#title
{
    background-color: #eeeeee;

    width: 100%;
    height: 40px;

    text-align: center;

}

#content
{
    background-color: green;

    height: 800px;

    margin-left: 5%;
    margin-right: 5%;
}

#footer
{
    background-color: #eeeeee;


    width: 100%;
    height: 60px;

    text-align: center;
}


#nav-menu {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

#page-content {
  width: 100%;
  height: 900px;

  background-color: red;

  border: 2px solid black;
  border-radius: 20px;
}


h2
{
    font-family: "Helvetica", "sans-serif";
    font-size: 32px;

    padding-top: 4px;
}




#profil-button
{
  float: right;

  height: 50px;
  width: 80px;

  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  text-align: center;

  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;

  border-radius: 30px 30px 0 0;
}
#profil-button:hover
{
  color: white;
  background-color: black;
}



.mybutton {
  padding: 5px 10px;

  border-radius: 30px / 20px;
  border: 2px solid black;

  background-color: white;
  color: black;
}
.mybutton:hover
{
  background-color: black;
  color: white;
}



.day-select
{
  display: inline-block;
}

.nav-tab, .day-tab {
  height: 50px;
  width: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  text-align: center;

  background-color: #bbbbbb;
  background-image: linear-gradient(0deg, #888888 0%, #bbbbbb 100%);
}
.nav-tab:hover, .day-tab:hover {
  background-image: linear-gradient(180deg, #aaaaaa 0%, #ffffff 100%);
}







@media (min-width: 800px) /* BIG */
{
  body
  {
    background-color: cyan;
  }

  .day-tab
  {
    display: none;
  }

  .nav-tab
  {
    display: inline-flex;

    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

    border-radius: 30px 30px 0 0;
  }
}
@media (max-width: 800px) /* SMOL */
{
  body
  {
    background-color: red;
  }

  .day-tab {
    width: 120px;

    display: inline-flex;

    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

    border-radius: 30px 30px 0 0;
  }

  .nav-tab {
    width: 120px;

    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
  }


  .other-days
  {
    position: absolute;
    display: none;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .day-select:hover .other-days
  {
    display: block;
  }
}
